#hej {

	border-radius: 7px;
	background-color: #fbddf6;
	display: inline-block;
	margin-left: 1%;
	text-align: center;
	position: absolute;
	width: 90px;
	height: 90px;
	z-index: 0;
	opacity: 0;
 	animation: fade-in-right ease 0.5s forwards;
 	transition-duration: 1s;
    transition-timing-function: ease;

}

#hej:hover{
	background-color: #f8c6f0;
	cursor: pointer;
	
}

#hej p{
	padding: 15px;
}