@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Black+And+White+Picture');
/***********
*  APP.JS  *
***********/
.App {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 14px;

}
.page-title{
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
            }
.mittenBox {
    display: absolute;
    background-color:rgba(207, 226, 243, 0.4);
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    width: 500px;
    height: 500px;
    /*opacity: 0.2;*/
    z-index: 1;

}
.containerBox{
}
.content-box{
    text-align: center;
}
/*********
GREJS FÖR ALLA HEJSAN HOPPSAN
*************/
.button {
	background-color:#4a86e8;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #4a86e8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:1px 1px 0px #2b4570;
}
.button:hover {
	background-color:#cfe2f3;
}
.button:active {
	position:relative;
	top:1px;
}
.liten{
    font-size: 1vw;
}
.done {
    color: grey;
}
.reddo{
    color: #ff9900;
}
.mitten{
    margin:auto;
}

.Blue{
    display: absolute;
    background-color:rgba(207, 226, 243, 0.4);
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    /*opacity: 0.2;*/
    z-index: 1;
}
        
/**************
*  TIPS PAGE  *
**************/

.studieBar {
    display: inline-grid;
    background-color: 5ada55;
    padding: 5px;
}

.studieBarCol{
    display: grid;
    text-align: center;
    font-size: 3vh;
 }

 #tipsText {
     margin: auto;

 }

 .VideosContainer{
     margin: 1vw;
 }
 .WhatEverBro{
     margin: 1vw;
 }

 .HELVETE{
width: auto;
 }
/*******************
* FÖR PROFILE PAGE *
********************/
#new_goal {
    font-size: 100px;
}

#create_goal {
    visibility: collapse;
    background-color: #ff9900;
    height: 300px;
    width: 300px;
    position: absolute;
}

.progress_div {

}

#myProgress {
    border-radius: 10px;
    margin: 100px;
    color: pink;
    width: 200px;
    height: 50px;
    
}

.add_button {
    background-color: #ff9900;
    color: white;
    font-size: 16px;
    border-radius: 10px;
}

.checkboxes {
    background-color: blue;
    color: white;
    height: 20px;
    width: 10px;
}

#info_box {
    background-color: #4a86e84b;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

progress[value]::-webkit-progress-bar {
    background-color: #fff;
    border-radius: 20px 0 0 20px;
}

progress[value]::-webkit-progress-value {
    background-color: #4a86e8; 
    border-radius: 20px 0 0 20px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    transition-duration: 2s;
    transition-timing-function: ease;

}

.progress {
    width: 300px;
    height: 100px !important;
    -webkit-transform: rotate(-90deg);
    transform-origin: 200px 190px;
}

.pop_up {
    background-color: #4a86e84b;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.hanna {
    font-size: 10px;
}

ul {
    list-style-type: none;
    
}

li {
    margin: 10px;
}

.vertical {
  display: inline-block;
  width: 20%;
  height: 40px;
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);

}

