@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil|Black+And+White+Picture');
/***********
*  APP.JS  *
***********/
.App {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 14px;
    overflow-y: scroll;

}
.page-title{
    font-family: 'Didact Gothic', sans-serif;
    text-align: center;
            }
.mittenBox {
    display: absolute;
    background-color:rgba(207, 226, 243, 0.4);
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    width: 500px;
    height: 500px;
    /*opacity: 0.2;*/
    z-index: 1;

}
.containerBox{
}

.boxContent {
    overflow-y: auto;
}
.content-box{
    text-align: center;
}
/*********
GREJS FÖR ALLA HEJSAN HOPPSAN
*************/
.button {
	background-color:#4a86e8;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #4a86e8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 21px;
	text-decoration:none;
    text-shadow:1px 1px 0px #2b4570;
    margin-left: 40px;
    margin-bottom: 10px;
}
.button:hover {
	background-color:#cfe2f3;
}
.button:active {
	position:relative;
	top:1px;
}
.liten{
    font-size: 1vw;
}
.done {
    color: grey;
}
.reddo{
    color: #ff9900;
}
.mitten{
    margin:auto;
}

.Blue{
    display: absolute;
    background-color:rgba(207, 226, 243, 0.4);
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    /*opacity: 0.2;*/
    z-index: 1;
    max-height: 75vh;
    overflow-y: auto;
    min-height: 500px;
}
        
/**************
*  TIPS PAGE  *
**************/

.studieBar {
    display: inline-grid;
    background-color: 5ada55;
    padding: 5px;
}

.studieBarCol{
    display: grid;
    text-align: center;
    font-size: 3vh;
 }

 #tipsText {
     margin: auto;

 }

 .VideosContainer{
     margin: 1vw;
 }
 .WhatEverBro{
     margin: 1vw;
 }

/*******************
* FÖR PROFILE PAGE *
********************/
#new_goal {
    font-size: 100px;
}

#create_goal {
    visibility: collapse;
    background-color: #ff9900;
    height: 300px;
    width: 300px;
    position: absolute;
}

#progress_div {
    position: relative;
    background-color: #cfe2f3;
    visibility: collapse;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    grid-template-columns: auto auto;
}

#myProgress {
    border-radius: 10px;
    margin: 100px;
    color: pink;
    width: 200px;
    height: 50px;
    transform: rotate(-90deg);
}

.add_button {
    background-color: white;
    color: #ff9900;
    font-size: 16px;
    border-radius: 10px;
}

.checkboxes {
    background-color: blue;
    color: white;
    height: 20px;
    width: 10px;
}

progress[value]::-webkit-progress-bar {
    background-color: #fff;
    border-radius: 20px 0 0 20px;
}

progress[value]::-webkit-progress-value {
    background-color: #4a86e8; 
    border-radius: 20px 0 0 20px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    transition-duration: 2s;
    transition-timing-function: ease;
}

.popup_inner {
    background: pink;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.popup_outer {
    
}


.navbar:before {
    content:none;
    padding: 0px;
}

.titleclass {
    color: #ff9900;
    font-size: 10vh;
}