#rubrik {
	font-family: "Futura", Trebuchet MS, Arial, sans-serif;
	color: #676e8d;
}


body {
	background-color: #b7bef3;
}

.text {
	font-family: "Futura", Trebuchet MS, Arial, sans-serif;
	color: #676e8d;
}

.divvar {
	border-radius: 7px;
	height: 50px;
	width: 23%;
	float: left;
	text-align: center;
	margin-left: 1%;
	margin-right: 1%;
	background-color: #fbddf6;

}

.divvar:hover{
	background-color: #f8c6f0;
	cursor: pointer;
}

.divvar:active{
	background-color: #f5afea;
}


#huvuddiv{
	position: relative;
	padding-top: 50px;
	opacity: 0;
  	animation: fade-in-right ease 0.4s forwards;
  	animation-delay: 0.8s;

}

#menydiv {

}

#videodiv{

}


#hemdiv{

}

.gif1{
 	transform: scaleX(0);
 	transform-origin: left;
 	animation: fade-in-right cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
 	animation-delay: 1s;
}

.shadow {
-moz-box-shadow: 0 0 30px 5px #999;
-webkit-box-shadow: 0 0 30px 5px #999;
}

#artikeldiv {

}

#appardiv {

}

#rubrikdiv {

	text-align: center;
	margin: auto;
	 transform: scaleX(0);
  transform-origin: left;
  animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
  animation-delay: 0.4s;

}

#burgmeny {
	position: fixed;
	max-width: 50px;
	max-height: 50px;
	left: 10px;
	top: 30px;

	opacity: 0;
 	animation: fade-in-right ease 0.4s forwards;
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}