
body {
	background-color: white;
	margin: 0;
}

ul {

	list-style-type: none;
	padding-left: 0;

}


/************************
*						*
*		  Profil  		*
*						*
*************************/

.namn {

	text-align: center;
	color: darkblue;
	font-size: 70px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Titan One';
	text-shadow: 2px 3px black;
	z-index: -1;
	cursor: default;
}

/*
JS
Namnet ska kunna gå att ändra av användaren, alltså behövs js kod för det.
- Max antal bokstäver (tyvärr)
*/



.avatar {

	margin: auto;
	height: 260px;
	width: 260px;
	background-color: lightblue;
	border-radius: 130px;
}

.avatar:hover {

	cursor: pointer;
}


#leafProfil {

	height: 260px;
	width: 260px;
}

#morotProfil {

	height: 260px;
	width: 260px;
}

/* 
JS
Vi märker här att det blir duplicerad kod, med andra ord behöver det finnas någon kod
som kan ändra "avatar".
- Rätt storlek för rätt avatar
- Rätt färgschema för rätt avatar
- Rätt bild för rätt avatar
*/



.editKnapp {

	float: right;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	background-color: darkblue;
	margin-top: 220px;
	margin-right: 10px;
}

.editKnapp:hover {

	background-color: blue;
	cursor: pointer;
}

/*
JS
Med editknappen ska man kunna ändra avatar och namn. Det ska alltså öppnas
en div ovanför allt annat, bakgrunden ska bli grumlig.
- Redigera namn
- Välja avatar
	- Färgschema
	- Profilbild
*/

#editPenna {

	margin-top: 0px;
	margin-left: 0px;
	width: 40px;
	height: 40px;
}




/************************
*						*
*		 Bakgrund		*
*						*
*************************/

/* Sitter bakom allt som en stadig skiva för att hålla allt centrerat*/

.bakgrund {

	margin: auto;
	/* height: 320px; */
	width: 800px;
}

/************************
*						*
*		  Meny			*
*						*
*************************/

/*
Vid användande av länk: 
text-decoration: none; 

Vid använding av lista:
list-style-type: none;
*/

.menyKropp {

	height: 505px;
	width: 80px;
	margin: 10px;
	/* margin-left: px; */ /* Var nödvändig när bodys margin inte var 0 */
	margin-right: 2px;
	margin-bottom: 25px;
	background-color: lightblue;
	float: left;
}

.menyKnapp {

	height: 50px;
	width: 50px;
	border-radius: 25px;
	background-color: darkblue;
	margin: 15px;
}

.menyKnapp:hover {

	background-color: blue;
	cursor: pointer;

}

#menyAvgransare {

	margin-left: 5px;
	margin-right: 5px;
}

/************************
*						*
*		  Sida			*
*						*
*************************/

.sidoKropp {

	height: 305px;
	width: 496px;
	margin: 10px;
	margin-left: 2px;
	margin-bottom: 25px;
	float: right;
	background-color: lightblue;
	padding: 100px;
}
/* Behövs inte
.struktur {



}
*/
/************
*			*
*	Graf    *
*			*
************/

.graf {

	position: relative;
	/* position: relative; */ /* Fanns med i lab2 koden */
	background-color: white;
	width: 100px;
	height: 305px;
	border-radius: 10px;
	box-shadow: 5px 4px 10px rgba(0,0,0,0.15);
	
}

.graf:hover { /* Få grafen att sticka fram lite */

	box-shadow: 8px 6px 10px rgba(0,0,0,0.15);

}

.grafBar {

	position: absolute; /* Tror den aldrig flyytar sig även om den blir större */
	bottom: 5px; /* bottom och left ger oss positionen i mitten av graf */
	left: 5px;
	width: 90px;
	height: 100px; /* Denna ska vara sjusterbar enl. delmål och mål */
	border-radius: 3px 3px 6px 6px;
	background-color: #68b4d3;

	/* transition-property: ; */
	transition-duration: 2.0s;
}

/************
*			*
* Formulär  *
*			*
************/

.grafDetails {

	width: 400px;
	height: 305px;
}
































